<div class="banner">
  <div class="banner-info">
    <h1>A melhor conexão entre <br>profissional e cliente.</h1>
    <p></p>
    <h3>Conectamos os melhores talentos <br>independentes com os melhores produtores</h3>
    <p></p>
    <div><%= link_to "Sou Designer", "#", class: "btn-pink" %>
    <%= link_to "Sou Produtor", "#", class: "btn-pink-stroke" %></div>
  </div>
  <div class="banner-img">
    <%= image_tag "banner-woman.svg" %>
  </div>
</div>

<div class="container">
  <div class="home">
    <div class="card-pink">
      <h3>Quem somos nós</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ex sed erat feugiat tincidunt. Aliquam purus ex, tincidunt quis lacus rhoncus, semper tristique felis. Donec ac ultricies dui. Etiam ultricies egestas nisi a scelerisque. Curabitur pulvinar malesuada dui, id consectetur nunc. Nam varius sem mi, ut cursus urna fringilla eget. Ut eget cursus sapien. In massa dolor, feugiat sit amet urna id, vestibulum semper mauris. Duis sed fringilla nulla. Donec id risus vitae eros semper dictum. Quisque tortor massa, pellentesque at risus eu, lacinia aliquam massa. Suspendisse suscipit non tellus vel tempor. Etiam euismod sagittis sapien, a semper magna euismod id.</p>
      <%= image_tag "workers_card.svg" %>
    </div>
    <div class="cards-wrapper">
      <div class="card-blue">
        <h3>Mudando o mercado</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ex sed erat feugiat tincidunt. Aliquam purus ex, tincidunt quis lacus rhoncus, semper tristique felis. Donec ac ultricies dui. Etiam ultricies egestas nisi a scelerisque. Curabitur pulvinar malesuada dui, id consectetur nunc. Nam varius sem mi, ut cursus urna fringilla eget. Ut eget cursus sapien. In massa dolor, feugiat sit amet urna id, vestibulum semper mauris..</p>
      </div>
      <div class="card-navy">
        <h3>Fazendo conexões</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ex sed erat feugiat tincidunt. Aliquam purus ex, tincidunt quis lacus rhoncus, semper tristique felis. Donec ac ultricies dui. Etiam ultricies egestas nisi a scelerisque. Curabitur pulvinar malesuada dui, id consectetur nunc. Nam varius sem mi, ut cursus urna fringilla eget. Ut eget cursus sapien. In massa dolor, feugiat sit amet urna id, vestibulum semper mauris..</p>
      </div>
    </div>
  </div>
  <div id="title-blue">
    <h2>Conectando Eventos com Você</h2>
  </div>
  <div class="home">
    <div class="project-card">
      <div class="project-card-top">
        <div><h3>Project Title</h3>
          <p>Posted on 24/3/20</p>
        </div>
        <div><%= link_to "See event", "#", class: "btn-blue" %></div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ea deleniti blanditiis, porro maiores optio maxime. Ipsum fugit sequi commodi a numquam, dolor assumenda laboriosam sapiente ab animi temporibus reprehenderit! <%= link_to "see more", "#" %></p>
      <div class="tags-wrap">
        <div class="tag-web">Web Design</div>
        <div class="tag-flyer">Flyer</div>
        <div class="tag-video">Video</div>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-top">
        <div><h3>Project Title</h3>
          <p>Posted on 24/3/20</p>
        </div>
        <div><%= link_to "See event", "#", class: "btn-blue" %></div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ea deleniti blanditiis, porro maiores optio maxime. Ipsum fugit sequi commodi a numquam, dolor assumenda laboriosam sapiente ab animi temporibus reprehenderit!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ea deleniti blanditiis, porro maiores optio maxime. Ipsum fugit sequi commodi a numquam, dolor assumenda laboriosam sapiente ab animi temporibus reprehenderit!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur adipisicing elit. Sunt ea deleniti blanditiis, porro maiores optio maxime. Ipsum fugit sequi commodi a numquam, dolor assumenda laboriosam sapiente ab animi temporibus reprehenderit!
      Lorem ipsum dolor sit amet consectetur adipisicing elit.Sunt ea deleniti blanditiis, porro maiores optio maxime. Ipsum fugit sequi commodi a numquam, dolor assumenda laboriosam sapiente ab animi temporibus reprehenderit!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ea deleniti blanditiis, porro maiores optio maxime. Ipsum fugit sequi commodi a numquam, dolor assumenda laboriosam sapiente ab animi temporibus reprehenderit! <%= link_to "see more", "#" %></p>
      <div class="tags-wrap">
        <div class="tag-web">Web Design</div>
        <div class="tag-flyer">Flyer</div>
        <div class="tag-video">Video</div>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <%= link_to "edit your account", edit_user_registration_path %><br>
    <%= button_to "logout", destroy_user_session_path, method: :delete  %>
  <% else %>
      <%= link_to "login", new_user_session_path %><br>
      <%= link_to "sign_up", new_user_registration_path %>
  <% end %>
</div>
