<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card-login">
        <div class="card-body">
          <h2>Login</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" },
                placeholder: "Email" %>
              <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" },
                placeholder: "Senha" %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Entrar", class: "btn-blue-login" %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col-md-6 img-fluid">
      <%= image_tag "undraw_login.svg" %>
    </div>
  </div>
</div>
