<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 card-login">
        <h2>Login</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
            <div class="input-group m-3">
              <div class="input-group-prepend">
                <span class="icon-inside"><i class="fas fa-envelope"></i></span>
              </div>
              <%= f.input :email,
                required: false,
                autofocus: true,
                label: false,
                input_html: {
                  autocomplete: "email",
                  class: "form-control",
                  placeholder: "E-mail",
                },
                wrapper_html: {
                  class: "col-md-12"
                } %>
            </div>
            <div class="input-group m-3">
              <div class="input-group-prepend">
                <span class="icon-inside"><i class="fa-solid fa-user-secret"></i></span>
              </div>
              <%= f.input :password,
                required: false,
                label: false,
                input_html: {
                  autocomplete: "current-password",
                  class: "form-control",
                  placeholder: "Senha"
                },
                wrapper_html: {
                  class: "col-md-12"
                } %>
            </div>
            <div class="btn-blue-login m-3">
              <%= f.button :submit, "Entrar" %>
            </div>
          <% end %>
          <div class="d-flex m-3">
            <hr class="col-md-4"> <p class="col-md-4">ou</p> <hr class="col-md-4">
          </div>
          <%= render "devise/shared/links" %>
      </div>
      <div class="col-md-6 img-fluid">
        <%= image_tag "undraw_login.svg" %>
      </div>
    </div>
  </div>
</div>
